In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

url = 'https://raw.githubusercontent.com/shaukat-abidi/teaching_dataset/master/Data_for_UCI_named.csv'
df_csv = pd.read_csv(url)

In [0]:
df_csv.head(2)

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable

[2 rows x 14 columns]

In [0]:
print(df_csv.shape)

(10000, 14)

In [0]:
print('-'*14)
print(df_csv.columns.to_list())

--------------
['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4', 'stab', 'stabf']

In [0]:
data_cols = ['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4', 'stab', 'stabf']
lab_cols = ['stabf_integer']
df_X = df_csv[data_cols]

In [0]:
def ret (str_label):
  if str_label == "unstable":
    return 0
  else:
    return 1

In [0]:
df_csv['stabf_integer'] = df_csv['stabf'].apply(lambda str_lab:ret(str_lab)  )

In [0]:
df_csv.head(2)

       tau1      tau2      tau3  ...      stab     stabf  stabf_integer
0  2.959060  3.079885  8.381025  ...  0.055347  unstable              0
1  9.304097  4.902524  3.047541  ... -0.005957    stable              1

[2 rows x 15 columns]

In [0]:
data_cols = ['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4', 'stab', 'stabf']
lab_cols = ['stabf_integer']
df_X = df_csv[data_cols]
df_Y = df_csv[lab_cols]

In [0]:
df_Y.head(5)

   stabf_integer
0              0
1              1
2              0
3              0
4              0

In [0]:
#datafram to numpy Arrays 
X = df_X.to_numpy(copy=True)
Y = df_Y.to_numpy(copy=True)

print(Y)

[[0]
 [1]
 [0]
 ...
 [1]
 [0]
 [0]]

In [0]:
print(type(df_X))
print(type(X))
print(type(Y))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [0]:
print(X[0:2 ,:])

[[2.9590600245599705 3.0798852042281095 8.38102539191882 9.78075443222607
  3.7630847720631597 -0.782603630987543 -1.25739482958732
  -1.7230863114883 0.6504564608872271 0.8595781057523451
  0.887444920638513 0.9580339876027371 0.055347489172775 'unstable']
 [9.3040972346785 4.90252411201167 3.04754072762177 1.36935735529605
  5.06781210427845 -1.9400584270519299 -1.8727416855972099
  -1.25501199162931 0.41344056837935 0.8624140763529029
  0.5621390505276751 0.7817599106531259 -0.0059574643260369995 'stable']]

In [0]:
tot_x , tot_y = df_X.shape
print(tot_x)
print(0.7 * tot_x , 0.3 * tot_x)

#X[0:7000 , :]----> trainning X
#Y[0:7000 , :]----> trainning Y

#X[7000:, :]----> testing X
#Y[7000:, :]----> testing Y

10000
7000.0 3000.0

In [0]:
X_train , X_test , Y_train  , Y_test = train_test_split(X , Y ,test_size = 0.3)

In [0]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(7000, 14)
(7000, 1)
(3000, 14)
(3000, 1)

In [0]:
# applying naive bayes on our train Set (x_train  , y_train)

clf_nb  = GaussianNB

In [0]:
clf_nb.fit(X_train , Y_train.ravel())

TypeError: ignored